.work-plane-presenter {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
  color: #e7f6f2;
  gap: 10px;
  padding: 0.3vh;

  .all-applications {
    width: 25%;
    height: 100%;
    padding: 2px;
  }
  .detailed-application {
    padding: 2px;
    height: 100%;
    width: 100%;
  }
}
