.content{
    height: 15vh;
    width: 100vw;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1vh;

    h1{
        margin-top: 2vh;
        color:#E7F6F2;
        
    }
    .control{
        margin-left: auto;
        align-self: flex-end;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0.5vh;
        padding: 0.5vh;
        gap: 2px;
        height: 3vh;
        overflow: hidden;

        .icon{
            color:#E7F6F2;
            font-size: 2vh;
            margin: 1rem;
            margin-left: auto;
            align-self: flex-end;
            cursor: pointer;
        }
    }
   

}