.detailed-application-view {
  background-color: #395b64;
  border: 1px solid #e7f6f2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 3vh;
  width: inherit;
  height: inherit;

  h1 {
    background: transparent;
    margin-bottom: 10vh;
  }
  p {
    background: transparent;
  }

  .applicant-info {
    background: transparent;
    display: flex;
    margin-bottom: 3vh;

    .job {
      background: transparent;
      font-weight: bold;

      .icon-row {
        background-color: #e7f6f2;
        margin: 3vh;
        padding: 2vh;
        border-radius: 50%;
        &.accepted {
          background-color: rgb(2, 174, 2);
        }
        &.rejected {
          background-color: red;
        }
        &.unhandled {
          background-color: yellow;
        }
      }
    }
    .applicant {
      background: transparent;
      width: 20vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3vh;
      .info-row {
        background: transparent;
        font-weight: bold;
        border-bottom: 1px solid #e7f6f2;
      }
    }
    .period {
      background: transparent;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 4vh;
      font-weight: bold;
      .period-info {
        background: transparent;
        padding: 1vh;
        border-bottom: 1px solid #e7f6f2;
      }
      .from-to {
        background: transparent;
        display: flex;
        gap: 2vh;
        border-bottom: 1px solid #e7f6f2;
      }
    }

    .icon-row {
      background-color: #e7f6f2;
      margin: 3vh;
      padding: 2vh;
      border-radius: 50%;
      &.accepted {
        background-color: rgb(2, 174, 2);
      }
    }

    .user-icon {
      font-size: 60px;
      border-radius: 1px solid #e7f6f2;
      background: transparent;
      color: #395b64;
    }
    p {
      background: transparent;
    }

    .status {
      background: transparent;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2vh;
      font-weight: bold;
      .accepted {
        font-size: 30px;
        justify-self: flex-end;
        background: transparent;
        color: rgb(2, 174, 2);
        margin-left: 5px;
      }
      .rejected {
        font-size: 30px;
        justify-self: flex-end;
        background: transparent;
        margin-left: 5px;
        color: red;
        margin-left: 5px;
      }
      .unhandled {
        font-size: 30px;
        justify-self: flex-end;
        background: transparent;
        color: yellow;
        margin-left: 5px;
      }
      select {
        //background: #395b64;
        background-color: #395b64;
        color: #e7f6f2;
        border: 1px solid #e7f6f2;
        padding: 1vh;
        border-radius: 10px;
        font-size: large;
        height: 100px;
      }
    }
    .buttons {
      background: transparent;
      display: flex;
      flex-direction: column;
      padding: 2vh;
      gap: 2vh;
      .the-button {
        border: 1px solid #e7f6f2;
        color: #e7f6f2;
        border-radius: 15px;
        background: transparent;
        padding: 2vh;
        justify-content: space-between;
        gap: 2vh;
        min-width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon {
          background: transparent;
          font-size: large;
        }
      }
    }
  }

  .no-data {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15vh;
    gap: 5vh;
    .no-data-icon {
      background: transparent;
      font-size: 60px;
    }
    .no-data-label {
      background: transparent;
      font-size: 60px;
    }
  }
}
