.registration-form{
    background-color: #395B64;
    border: 1px solid #A5C9CA;
    border-radius: 15px;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    padding: 2vh;
    .form-content{
        background: transparent;
        align-items: center;
        justify-content: center;
        gap: 1vh;

        .row{
            background: transparent;
            display: flex;
            flex-direction: row;
            align-items:center;
            justify-content: flex-end;
            gap: 2vh;
            margin: 0.7vh;
    
           
            label{
                background: transparent;
                color: #E7F6F2;
                font-weight: bold;
                font-size: larger;
    
            }
            input{
                background: transparent;
                border: 1px solid #E7F6F2;
                border-radius: 5px;
                padding: 0.5vh;
                color: #E7F6F2;
                font-weight: bold;
                font-size: larger;
    
                &::placeholder{
                    color: #2C3333;
                }
                
            }
    
            .error-message{
                padding: 0.5vh;
                color: red;
                border: 0.5px solid red;
                border-radius: 5px;
            }
    
            
        }
        button{
            background: transparent;
            color: #E7F6F2;
            border: 1px solid #E7F6F2;
            border-radius: 10px;
            padding: 0.5vh;
            font-weight: bold;
            font-size: larger;
            width: 100%;
            cursor: pointer;
    
        }
    }
    

}