.schedule-page-content {
  width: 90%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #395b64;
  color: #e7f6f2;
  border: 1px solid #e7f6f2;
  border-radius: 20px;
}
