.job-application-page {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e7f6f2;
  font-size: xx-large;
  font-weight: bolder;
  border: 1px solid #e7f6f2;
  border-radius: 15px;
  background-color: #395b64;
}
