.application-presenter {
  background-color: #395b64;
  border: 1px solid #e7f6f2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 3vh;
  width: inherit;
  height: inherit;

  .conteiner-title {
    padding: 1px;
    background: transparent;
    color: #e7f6f2;
    font-size: x-large;
    font-weight: bolder;
    margin-bottom: 10px;
  }

  .lists {
    display: flex;
    gap: 10px;
    background: transparent;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    gap: 10px;
  }
  button {
    background: transparent;
    color: #e7f6f2;
    border: 1px solid #e7f6f2;
    border-radius: 10px;
    padding: 1vh;
    font-size: 1em;
    font-weight: bold;
    margin: 1vh;
    &:hover {
      cursor: pointer;
      background-color: #e7f6f2;
      color: #395b64;
    }
  }
}
